	* {
	margin:0px;
	padding: 0px;
} 
body {
	background:#000;
}

/*menu lateral*/

.menulateralmain 	{
	display:block;
	width: 15%;
	height:100vh;
	margin: auto;
    position: fixed;  /*para que permanezca fijo*/
	z-index:initial;
	border-right:1px solid rgba(155, 155, 155, 0.5);
 
		background-image:url("imgfondo.jpg");
	background-size:cover;
	background-position:48% 40%;
	flex-wrap: wrap; /*para que se acomoden en tamaños reducidos*/
	justify-content:flex-star;
}   

#h{
	width: 100%;
	margin:auto;
	
	flex-wrap: wrap; /*para que se acomoden en tamaños reducidos*/
	 
}
h4 {
	font-size: 35px;
	margin-left:10px;
	float: left;
	padding:0px 0px 0px 0px;
	color: #fff;
	font-family:Brush Script MT;
	
}
/*MENU*/
.menulateral {
	display: flex;
	
	justify-content: flex-star;

}

.menulateral ul {
	list-style: none;
	width:100%;
	
	border-top:.5px solid #404040;
	}
.menulateral ul li {
	display: block;
	text-align: center;
	font-family:Brush Script MT;
	
	
	color:#fff;
}
.menulateral ul li a {
	text-decoration: none;
	display: block;
	padding:10px 0px;
	color: #fff;   
	text-shadow: rgb(0,0,0)2px 2px 2px;
    font-size: 20px;
	
  	
	border-top: 0.5px solid rgba(255,255,255,0.1);
	background:rgba(0,0,0,.7);
	
	
	
	
}
/*
animation: flashreflejo 4s infinite;
	animation-delay: 0.5s;
    @keyframes flashreflejo {
    25% {
		border-top: 0.5px solid rgba(255,255,255,0.6);
	}
	50% {
		border-top: 0.5px solid rgba(255,255,255,0.2);
	}
	75% {
		border-top: 0.5px solid rgba(255,255,255,0.2);
	}
	100% {
		border-top: 0.5px solid rgba(255,255,255,0.2);
	}
}
*/
	 
   .menulateral ul li a:hover {
		background: linear-gradient(to bottom right,rgba(1, 189, 255, 0.7), rgba(1, 189, 255, 0.3), #000);

    }
	.active {
		background: linear-gradient(to bottom right,rgba(1, 189, 255, 0.7), rgba(1, 189, 255, 0.3), #000);
}


/**Menu movil************************************************************++*/

h1 {
	display:hidden;
	color:#fff;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align:center;
	font-size:35px;
}
@media (max-width:1024px) {
	h1 {
		display:block;
		background:rgba(0,0,0, .2);
	}
}
@media (max-width:450px) {
	h1 {
		width:100%;
		font-size:25px;
		
	}
}
.menuMovilMain {
	display:none;
	width:100%;
	border-bottom:1px solid #606060;
	background-image:url("imgfondo.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:0% 55%;
	
}
.menuMovil ul{
	list-style:none;

    background:linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.5), rgba(0,0,0,1));
}
.tabs2 {
	display:flex;
	justify-content:center;
	align-items:center;
	list-style:none;
	
}
    @media (max-width:768px) {
		.tabs2 {
			display:flex;
	        justify-content:space-around;
	        align-items:center;
	        list-style:none;
		}
	}
.tabs2 li {
	display:block;
	margin-top:15px;
	
}

.tabs2 li a {
	display:block;
	text-decoration: none;
	padding: 10px 11px 10px 3px ;
	
	
	color: #D4DADA;
    font-size: 14px;
    font-family:FreeMono, monospace;
	
	
	
	
	
	
}
@media (max-width:768px) {
	.tabs2 li a {
		font-size: 12px;
		margin: 2px;
	}
}
.tabs2 li a:hover {
	color:#fff;
    border-bottom:1px solid #fff;
}
.tabs2 li ul {
	display:none;
	position:absolute;
	width:100%;
	z-index:3;
	background:rgba(0, 0, 0,.7);
	box-shadow:3px 3px 3px #606060;

	
}
.tabs2 li ul li{
    
	border-top:1px solid #202020;
	
}
@media (max-width:768px) {
	.tabs2 li ul li {
		margin: 6px;
	}
}
.tabs2 li:hover > ul {
	display:block;
	
	
}


/**Fin menu movil**************************************************++*/




/*parrafos*/
    .contenido {
	padding: 0px 0px 60px 0px;
	width:80%;
	font-style: italic;
	margin: 10px auto;
	
	color: #fff;
	z-index:4;
  
	    
}
    .frase {
	color: #fff;
	float:left; 
	font-family:Brush Script MT;
	position: relative;
	font-size: 22px;
}  
@media (max-width:768px) {
	.frase {
		font-size: 16px;
	}
	
}
    span {
	position:absolute;
	right: 0;
	width: 0;
	background:#000;
	border-left: 1px solid #fff;
	animation: example 12s infinite steps(164);
	animation-timing-function: ease-out;
} 
@media (max-width:1024px){
	span {
		display:none;
	}
}


@keyframes example {
    from {
		width:100%
	}
	to {
		width:0;
	}
}
#camara {
	font-size: 50px;
	color: #fff;
	animation: flash 4s infinite;
	

}
    @keyframes flash {
    25% {
		text-shadow: 8px 26px 26px #fff;
		
	}
	50% {
		text-shadow: 3px 3px 3px #000;
	}
	75% {
		text-shadow: 3px 3px 6px #000;
	}
	100% {
		text-shadow: 3px 3px 3px #000;
	}
}



	/*Fin efecto maquina de escribir*/
    #frase:hover {
		background:rgba(0,0,0,0.1);
		border-radius: 10px;
	}
	
/*generales de todas las galerias*/
.galerias {
	background: #000;
	width: 85%;
	margin: auto;
	padding:0px 0px 10px 0px;   
	
	
	/*
	background-image: url("Fondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	*/

	
}
/*posicion de las cajas*/
.galerias {
	float: right;
}
.menulateralmain{
	float: left;
}
/*estilos de la galeria*/


    @media(max-width:1024px){
		.galerias{
			width:100%;
		}
	}
    @media(max-width:1024px){
		.menuMovilMain {
			display:block;

		}
	}
    @media(max-width:1024px){
		.menulateralmain {
			display:none;
		}
	}
.galeria {
	width: 80%;
	margin: auto;
	list-style: none;
	box-sizing: border-box;
	
	border-top: 1px solid #fff;
	
	
	display: flex; /*para ajustar en bloque*/
	flex-wrap: wrap; /*para que se acomoden en tamaños reducidos*/
	justify-content: space-around;
	
}

.galeria li {
	margin-top: 15px;
}
.galeria img {
	width: 325px; /*medida global de la imagen*/
	height: 210px;
	object-fit: cover;
	box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	border-radius: 15px;
	
 
	
}
/*ESTILOS AFTER PARA PROTEGER IMAGEN
.img {
	position:relative;
	width: 320px; 
	height: 210px;
	object-fit: cover;
	box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	border-radius: 15px;
}
.img::after {
	display:block; 
	width: 320px; 
	object-fit: cover;
	border-radius: 15px;
	content:"";
	background:rgba(0,0,0,0);
	position:absolute;
	transform:translate(0%, -100%);
}
.galeria img:hover {
	border-bottom: 1px solid #fff;
	width: 325px;
}
.caja:hover{
	border-bottom: 1px solid #fff;
	width: 325px;
}
*/
/*estilos para movil*/
@media (max-width:768px){
	.galeria {
		width:100%;
	    border-top: none;

	}
}
@media (max-width:425px){
	.galeria img {
	    width: 150px; /*medida global de la imagen*/
	    height: 98px;
	    object-fit: cover;
	    box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	    border-radius: 15px;
	}
}
@media (min-width:426px) and (max-width:768px){
	.galeria img {
	    width: 300px; /*medida global de la imagen*/
	    height: 196px;
	    object-fit: cover;
	    box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	    border-radius: 15px;
	}
}

/*estilos del modal*/
.modal {
   display: none;   
	
}

.modal:target {
	
    display: block;    
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}


.modal h3 {
	color: #fff;
	font-size: 20px;
	font-family:Brush Script MT;
    padding:0px 0px 0px 30px;
}
@media (max-width:768px) {
	.modal h3 {
		font-size: 15px;
	}
}
.imagen a {
    color: #909090;
	text-decoration: none;
	font-size: 55px;
	padding:0px 5px;
}
@media (max-width:768px) {
	.imagen a:nth-child(1), .imagen a:nth-child(3), .imagenV a:nth-child(1), .imagenV a:nth-child(3){
		display:none;
	}
}
.imagen a:hover {
	color: #fff;
}	


.imagen{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.imagen a:nth-child(2) { /*corresponde a la segunda "a" anidada de .imagen*/
	margin: 0px;
	height: 100%;
	flex-shrink: 2; /*para que se consenve el contenido tal cual cuando la imagen se haga ms pequeña*/
	
	
}
	
.imagen img {
	width: 700px;   /*medida global de la imagen*/
	height: 450px;
	object-fit: cover;
	max-width: 100%;
	border-radius: 15px;
	box-sizing: border-box;
	
	box-shadow: rgba(110, 110, 110, 0.5) 6px 6px 10px;
}
@media (max-width:425px) {
	.imagen img  {
	    width: 95%;   /*medida global de la imagen*/
	    height: 50%;
		
		
	}
}
@media (min-width:426px) and (max-width:768px) {
	.imagen img  {
	    width: 420px;   /*medida global de la imagen*/
	    height: 300px;
		
		
	}
}

/*flechas para movil*/
.flechasMovil {
	        display:none;
			color:#909090;
			text-decoration:none;
			font-size: 50px;
					}
		.flechasMovil:hover {
		    color:#fff;
			
        }
		@media (max-width:768px) {
			.flechasMovil {
				display:block;
			}
		}
/*----Titulo y cerrar Horizontales---------------------------------------------*/
.headcerrar2 {
	width:53%;
	margin: auto;
	margin-top: 10px;
	display:flex;
	justify-content: space-between;


}



.cerrar {
	display: block;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	width: 30px;
	height: 30px;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	padding: 5px 15px;
	
	border-radius: 50%;
	line-height: 25px;
}
.cerrar:hover {
	background: rgba(255, 232, 0, 0.8);
	color: #000;
	font-size: 35px;
	padding: 8px 10px;
	text-shadow: rgb(255, 255, 255) 2px 2px 2px;

}
/*----Titulo y cerrar verticales---------------------------------------------*/
.cerrar2{
	color: #D2D2D2;
	text-decoration: none;
	font-size: 25px;
	padding:2px 4px;
	border-left:1px solid #909090;
	border-right:1px solid #909090;
	border-radius: 50%;
	display:block;
	
}
@media (max-width:768px) {
	    .cerrar, .cerrar2 {
		    margin-right:30px;	
		}
}

	
.cerrar2:hover {
	background: linear-gradient(to bottom right,rgba(1, 189, 255, 0.9),rgba(1, 189, 255, 0.6), rgba(1, 189, 255, 0.3), #000);
	color: #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
    
}
.headcerrar {
	width:38%;
	margin: auto;
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
}

/*---flechas para movil**************************************************-------*/

@media (max-width:768px) {
	.headcerrar2, .headcerrar {
		width:100%;
		
	}
}
.headcerrar3{
	display:none;
   

}
@media (max-width:768px) {
	.headcerrar3  {
	top:95%;
	display:block;
	background: rgba(0, 0, 0, 0.8);
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items:center;

	
	
	}
}
    


.cerrar3{
	display:none;
    color: #D2D2D2;
	text-decoration: none;
	font-size: 25px;
	border-left:1px solid #909090;
	border-right:1px solid #909090;
	border-radius: 50%;
	
}

@media (max-width:768px) {
	.cerrar3 {
		display:block;
		
	}
}
/*_______________________________________________________________________________-*/
/*----galerias verticales---------------------------------------------*/





.galeriaV {
	width: 80%;
	margin: auto;
	list-style: none;
	box-sizing: border-box;
	border-top: 1px solid #434343;
	
		
    display: flex; /*para ajustar en bloque*/
	flex-wrap: wrap; /*para que se acomoden en tamaños reducidos*/
	justify-content: space-around;
	align-items: center;
	

}
.galeriaV li {
	margin-top: 15px;
}
.galeriaV img {
	height: 350px; /*medida global de la imagen*/
	width: 245px;
	object-fit: cover;
	box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	border-radius: 15px;
		
	
	
	
}
.galeriaV img:hover {
	border-bottom: 1px solid #fff;
	width: 238px;
}
/*estilos para movil*/
@media (max-width:768px){
	.galeriaV {
		width:100%;
	    border-top: none;

	}
}
@media (max-width:768px){
	.galeriaV img {
	    width: 150px; /*medida global de la imagen*/
	    height: 198px;
	    object-fit: cover;
	    box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px;
	    border-radius: 15px;
	}
}
@media (min-width:426px) and (max-width:768px) {
	.galeriaV img {
	     width: 200px; /*medida global de la imagen*/
	    height: 300px;
	}
}
/*estilos del modal*/

.modalV {
   display: none;   
 
	
	
}
.modalV:target {
	
    display: block;    
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}


.modalV  h3 {
	color: #fff;
	font-size: 20px;
	font-family:Brush Script MT;
    padding:0px 0px 0px 30px;
}
@media (max-width:768px) {
	.modalV h3 {
		font-size: 15px;
	}
}

.imagenV {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
} 

.imagenV a {
    color: #909090;
	text-decoration: none;
	font-size: 50px;
	padding:0px 5px;

	

}

.imagenV a:hover {
	
	color: #fff;
	

}
.imagenV a:nth-child(2) { /*corresponde a la segunda "a" anidada de .imagen*/
	margin: 0;
	height: 100%;
	flex-shrink: 2; /*para que se consenve el contenido tal cual cuando la imagen se haga ms pequeña*/
	
}  
	
.imagenV img {
	   /*medida global de la imagen*/
	height: 680px;
	width: 480px;
	object-fit: cover;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	
	box-shadow: rgba(110, 110, 110, 0.5) 6px 6px 10px;
}

/*estilos para movil*/
@media (max-width:768px) {
	.imagenV img {
	    width: 315px;   /*medida global de la imagen*/
	    height: 470px;
		
		
	}
}

/*---------------------------------------*/
.contenedorRedes{
	width:100%;
}
.Redes {
	margin:auto;
	width:30%;
	display:flex;
	justify-content:center;
}
.a {
	text-decoration: none;
	color:#909090;
}
.redes1 {
	padding:20px;
	font-size:48px
}
@media (max-width:768px) {
	.redes1 {
		font-size:35px
	}
}
.redes1:hover{
	font-size:52px;
	color:#fff;

}
.por {
	font-size:10px;
}
footer{
	width:100%;
	
	margin: auto;
	color: #909090;
	font-size:18px;
	text-align: center;
	font-style: italic;
	border-top:1px solid #606060;
	
	background:#000;
		
	float:left;
	position: relative; 
	z-index:1;
}
@media (max-width:768px){
	footer {
		font-size:14px;
	}
}
