* {
	margin:0;
	padding:0;
}
body{
	background: #000;
}

.container {
	width: 580px;
	height: 473px;    
    background-image: url(img21.jpg);
	background-size:cover;
	position:relative;
	margin-top: 20%;
	left:70%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
	transform: translataX(-10deg);
	border-right: 7px solid #050505;
	border-bottom: 7px solid #050505;
	border-top: 2px solid #101010;
	
	box-shadow: 6px 5px 10px #404040;
	
	
	

}


	        @media (max-width:1200px)  {
		.container{
			width: 500px;
	        height: 400px;

			
		}
	}
	        @media (max-width:1000px)  {
		.container{
			margin-top: 30%;
			width: 420px;
	        height: 380px;

			
		}
	}	
	
	    @media (max-width:768px) and (orientation:portrait){
		.container{
			margin-top: 40%;
			width: 170px;
	        height: 255px;
			background-image: url(imgv7.jpg);
	        background-size:cover;
			
		}
	} 	    
	        @media (max-width:768px)  and (orientation:landscape){
		.container{
			
			width: 260px;
	        height: 212px;

			
		}
	}




.cover, .cover2, .cover3{
	width:575px;
	height:100%;
	position: absolute;
	
	background-color: #345b8c;
	    
	transform-style: preserve-3d;
	transform-origin: left;
	transition: all .5s easy-in;
	
	border-left: 3px solid rgba(0,0,0,.6);
	border-right:2px solid #404040;
	border-bottom:2px solid #404040;
	 
		
}  

		        @media (max-width:1200px)  {
		.cover, .cover2, .cover3{
			width: 495px;
	        height: 100%;

			
		}
	}
			        @media (max-width:1000px)  {
		.cover, .cover2, .cover3{
			width: 415px;
	        height: 100%;

			
		}
	}
    @media (max-width:768px) and (orientation:portrait){
		.cover, .cover2, .cover3{

			width: 170px;
	        height: 100%;

			
		}
	} 
	        @media (max-width:768px)  and (orientation:landscape){
		.cover, .cover2, .cover3{
			width: 260px;
	        height: 100%;

			
		}
	}

	
.cover {
	
	
	
}
.cover2 {
	
}
.cover3 {
	
	border-bottom:2px solid #202020; 
	border-right:4px solid #202020;
	
	transform: rotateY(-3deg);
	
}

/*.container:hover .cover {
	transform: rotateY(-175deg);
	transition: all 1s easy;
    
	} */
 /*animacion*/	

.cover {
	animation: abrir3 15s infinite;
	animation-delay:5s  easy-out;
	
	
}    @keyframes abrir3 {
	0%{transform: rotateY(-0deg);visibility:hidden;}
	0%{transform: rotateY(-0deg);visibility:hidden;}
	
	25%{transform: rotateY(-2deg);visibility:visible;}
	
	30%{transform: rotateY(-0deg); visibility:visible; box-shadow: 1px 1px 1px #050505;}
    45%{transform: rotateY(-180deg); visibility:visible; box-shadow: 1px 5px 5px #050505;}
	46%{transform: rotateY(-180deg); visibility:hidden;}
	
    51%{transform: rotateY(-180deg); visibility:visible;}
	60%{transform: rotateY(-0deg); visibility:visible;}
}
.cover2  {
	animation: abrir2 15s infinite;
	animation-delay:5s easy-out;
	
}    @keyframes abrir2 {
	0%{transform: rotateY(-0deg);visibility:hidden;}
	10%{transform: rotateY(-10deg);visibility:visible;}
    15%{transform: rotateY(-0deg); visibility:visible; box-shadow: 1px 1px 1px #050505;}
    30%{transform: rotateY(-180deg); visibility:visible; box-shadow: 1px 5px 5px #050505;}
	34%{transform: rotateY(-180deg); visibility:hidden;}
	
	54%{transform: rotateY(-180deg); visibility:hidden;}
	55%{transform: rotateY(-174deg); visibility:visible;}
	60%{transform: rotateY(-180deg); visibility:visible;}
	75%{transform: rotateY(-0deg); visibility:visible;}
}
.cover3  {
	animation: abrir1 15s infinite;
	animation-delay:5s  easy-out;
	
}    @keyframes abrir1 {
	0%{transform: rotateY(-1deg);visibility:visible; box-shadow: 1px 1px 1px #050505;}
    15%{transform: rotateY(-180deg); visibility:visible; box-shadow: 1px 5px 5px #050505;}
    19%{transform: rotateY(-180deg); visibility:hidden;}
	
	65%{transform: rotateY(-180deg); visibility:hidden;}
	75%{transform: rotateY(-180deg); visibility:visible;}
	90%{transform: rotateY(-0deg); visibility:visible;}
	100%{transform: rotateY(-6deg); visibility:visible;}
 
}
 /*Fin animacion*/                                                           
figure {
	margin:0;
	display: block;
	position: absolute;
	width:100%;
	height: 100%;
	backface-visibility: hidden;	
	
}   
 
figure.front {
	background-image: url(img25.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
    @media (max-width:768px) and (orientation:portrait){
	figure.front {
		background-image: url(imgv5.jpg);
	}	
	} 
figure.back {
	background-image: url(img26.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	transform: rotateY(180deg);
	
	
}  
    @media (max-width:768px) and (orientation:portrait){
	figure.back {
		background-image: url(imgv6.jpg);
	}	
	}  
figure.front2 {
	background-image: url(img23.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
    @media (max-width:768px) and (orientation:portrait){
	figure.front2 {
		background-image: url(imgv3.jpg);
	}	
	} 
figure.back2 {
	background-image: url(img24.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	transform: rotateY(180deg);
	
	
	
}    
   @media (max-width:768px)and (orientation:portrait ){
	figure.back2 {
		background-image: url(imgv4.jpg);
	}	
	} 
figure.front3 {
	background-image: url(img9.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	box-shadow:10px 5px 15px #505050 inset;
	border-left:5px solid #444;

} 
    @media (max-width:768px) and (orientation:portrait){
	figure.front3 {
		background-image: url(imgv1.jpg);
	}	
	}
	
figure.back3 {
	background-image: url(img22.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	transform: rotateY(180deg);
	
		
} 
    @media (max-width:768px) and (orientation:portrait){
	figure.back3 {
		background-image: url(imgv2.jpg);
	}	
	}

    